flake8==6.1.0
mccabe==0.7.0
pycodestyle==2.11.0
pyflakes==3.1.0
Django==3.2.20
djangorestframework==3.12.4
django-filter==23.2
djoser==2.1.0
Pillow==10.0.0
gunicorn==20.1.0
xhtml2pdf==0.2.11
psycopg2-binary==2.9.3
python-dotenv==1.0.0
django-filter==23.2
pytest==6.2.4
pytest-pythonpath==0.7.3
pytest-django==4.4.0
drf-extra-fields==3.7.0
